.timeline-all-top, .timeline-all-top .timeline__wrap, .timeline-all-top .timeline__wrap .timeline__items,
.timeline-all-bottom, .timeline-all-bottom .timeline__wrap, .timeline-all-bottom .timeline__wrap .timeline__items{
  height: 100% !important;
}

.timeline-all-top .timeline__item, .timeline-all-bottom .timeline__item {
  padding-left: 1px !important;
  padding-right: 1px !important;  
}

.timeline-all-top .timeline__item {
  transform: translateY(0px) !important;
}

.timeline-all-bottom .timeline__item {
  transform: translateY(20px) !important;
}
.timeline-all-bottom .timeline-nav-button, .timeline-all-bottom .timeline-divider {
  top:  20px !important;
}

.timeline__item {
  pointer-events: none;
}

.timeline__item:after {
  pointer-events: all;
}

.timeline__item:before {
  content: '';
  height: 4px;
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 50%;
}
.timeline__item--top:before {
  top: 99%;
}
.timeline__item--bottom:before {
  top: -1%;
}

.timeline-compact .timeline__content {
  padding: 0px;
  border: none;
  text-align: center;
}
.timeline-compact .timeline__content:before, .timeline-compact .timeline__content:after {
  border: none !important;
}

.timeline-compact .timeline__item--top {
  padding-bottom: 10px !important;
}

.timeline-compact .timeline__item--bottom {
  padding-top: 20px !important;
}
.timeline-compact .timeline__item--bottom:before {
  top: -2%;
}